- if flash[:notice]
  %h1
    = flash[:notice]
%br
%p The Boston Hash House Harriers present...
= image_tag "marathon_2016_title.png"
%h3 The 2016 Boston Marathon Hash Weekend!
%h2= link_to "REGO NOW!", new_special_event_event_registration_path(@event)
%p April 16 - 18, 2016
%p= "Strap on your heels or strap your friend to a wall. Straighten your wig and don't forget the furry cuffs. What’s in your closet?"

%br

%h3 Rego pricing:
%p $69 through February 9th
%p $79 through March 31st
%p $89 thereafter

%br

%h3 Your $$$ gets you:
%p THREE DAYS OF EVENTS!
%p Saturday: Trail, Beer, Circle, Dinner, Give-Away, Dancing
%p Sunday: Fatboy trail, beer, circle
%p Monday: Watch the Marathon at Mile 20 with beer and food provided

%br

%p Get to Boston on Friday the 15th and kick the weekend off with a beer mile on the world famous esplanade and a pub crawl to follow!

%br

%p
  Will you be in Boston earlier? There will be prelube events for the entire week before the event!
  %h1= link_to "Check out the schedule here!", "/2016_Boston_Marathon_Hash_schedule_final.pdf"

%br

%p Crash space will be available for travel hashers! Just indicate that you'll need it when registering.

%br

%h3 Running the real Boston marathon?
%p You're eligible for a 26% discount on your rego price!
%p= ("Email #{mail_to 'orgasmfamine@gmail.com', "Orgasm Famine", subject: 'BH3 Marathon Rego Discount'} for details!").html_safe

%h3 Questions?
%p= mail_to "orgasmfamine@gmail.com", "Email Orgasm Famine", subject: "BH3 Marathon 2016"
%h2= link_to "REGO NOW!", new_special_event_event_registration_path(@event)

%br

%h3 Who's Cumming
.whos-coming-list{ style: "width: 40%;margin-left: auto;margin-right: auto;" }
  %table
    %tbody
      %tr
        %td{ style: "align: center;font-weight: bold;"} Hasher
        %td{ style: "align: center;font-weight: bold;"} Kennel
      - @event.event_registrations.order(:id).each do |rego|
        %tr
          %td #{rego.hash_name}
          %td #{rego.kennel}
