- if flash
  %h3= flash[:failure]
%h3 Marathon 2020 - Boston H3's - The Flying 'Marathon' Circus - Rego Form
= simple_form_for [@event, @event_registration] do |f|
  = f.input  :hash_name, label: "What is your hash name?"
  = f.input  :kennel, label: "With which kennel is your quest?"
  = f.input  :nerd_name
  = f.input  :contact_email
  = f.input  :payment_email, label: "Payment Email (for PayPal)"
  = f.label  "Dietary preference, i.e. would you like Spam, Spam, Spam, Spam, Spam, Spam, baked beans, Spam, Spam, Spam and Spam, or Spam, Spam, Spam, Spam, Spam, Spam, baked beans, Spam, Spam, Spam and Spam, hold the Spam?"
  = f.select :food_preference, SpecialEvent::FOOD_OPTIONS
  %br
  %br
  = f.check_box :gluten_allergy, {}, 1, 0
  = f.label "I have a gluten allergy!"
  %br
  = f.check_box :dairy_free, {}, 1, 0
  = f.label "I am dairy free!"
  %br
  %br
  = f.check_box :need_crash_space, {}, 1, 0
  = f.label "I need crash space!"
  %br
  = f.check_box :have_crash_space, {}, 1, 0
  = f.label "I have crash space!"
  %br
  -# - if @event.extra_hab_type
  -#   %span.extra-hab-checkbox
  -#     = f.check_box  :extra_hab, {}, "#{@event.extra_hab_type}", nil
  -#   = f.label  "I want to purchase a #{@event.url_code.humanize} #{@event.extra_hab_type} for $#{@event.extra_hab_price.to_i}, which will be added to my rego price at checkout!"
  -#   %br
  -#   %span.extra-hab-size
  = f.label  "Shirt Size, for a giveaway, maybe?"
  = f.select :extra_hab_size, SpecialEvent::HAB_SIZES

  %p You will be redirected to PayPal after registering to, you know, pay.
  %br
  = f.button :submit, "Register for BH3 Marathon Hash 2020"
