- if flash[:notice]
  %h1
    = flash[:notice]
%br
%p The Boston Hash House Harriers present...
= image_tag "marathon_2016_title.png"
%h3 The 2016 Boston Marathon Hash Weekend!
%h2= link_to "REGO NOW!", new_special_event_event_registration_path(@event)
%p April 16 - 18, 2016
%p= "Strap on your heels or strap your friend to a wall. Straighten your wig and don't forget the furry cuffs. What’s in your closet?"

%br

%h3 Rego pricing:
%p $69 through February 9th
%p $79 through March 31st
%p $89 thereafter

%br

%h3 Your $$$ gets you:
%p THREE DAYS OF EVENTS!
%p Saturday: Trail, Beer, Circle, Dinner, Give-Away, Dancing
%p Sunday: Fatboy trail, beer, circle
%p Monday: Watch the Marathon at Mile 20 with beer and food provided

%br

%p Get to Boston on Friday the 15th and kick the weekend off with a beer mile on the world famous esplanade and a pub crawl to follow!

%br

%p Crash space will be available for travel hashers! Just indicate that you'll need it when registering. 

%h3 Questions?
%p Email Orgasm Famine. orgasmfamine@gmail.com
%h2= link_to "REGO NOW!", new_special_event_event_registration_path(@event)
