  <div class="pure-u-1-4">
			    <div class="pure-menu pure-menu-open pure-menu-vertical no-border l-box">
			        <ul>
<li class="<%= "pure-menu-selected" if params[:action] == "index" %>"><%= link_to "Join our email groups", more_url %></li>
<li class="<%= "pure-menu-selected" if params[:action] == "habadashery" %>"><a href="/more/habadashery">BH3 Habadashery</a></li>
<li class="<%= "pure-menu-selected" if params[:action] == "away" %>"><a href="/more/away">Go away</a></li>
<li class="<%= "pure-menu-selected" if params[:action] == "trail" %>"><a href="/more/trail">Laying trail</a></li>
			        </ul>
			    </div>
</div>