<%= form_for(@site_section) do |f| %>
  <% if @site_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_section.errors.count, "error") %> prohibited this site_section from being saved:</h2>

      <ul>
      <% @site_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :data_type %><br>
    <%= f.select :data_type, options_for_select(%w[text html markdown], f.object.data_type) %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value, cols: 150, rows: 12 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
