<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @site_section.tag %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @site_section.data_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @site_section.value %>
</p>

<%= link_to 'Edit', edit_site_section_path(@site_section) %> |
<%= link_to 'Back', site_sections_path %>
