<div>
  <div>
    <h3>COVID-19 Update (12/11/20)</h3>
    <h4>TL:DR  Winter is here!  And so are virtual trails!</h4>
    
    <p>
      As we head into the holiday season and COVID cases rise, we want to let everyone know that we have moved back to virtual trails
      for the foreseeable future.  We love in-person trails, but we feel that it is best to put our time and resources into creating 
      virtual trails that are both safe and accessible.  We are currently too far out to speak on when exactly we will return to 
      in-person hashes, but we are looking at the data and overall situation.  When we know when it will be safe to resume in-person 
      trails, we’ll send out word via carrier pigeon or something.
    </p>

    <p>
      As we’ve said before, we encourage everyone to make use of the Boston H3 Zoom account to plan fun virtual hangouts.  
      Please reach out to us if you’d like to create an open event or hangout for the kennel! 
    </p>
    
    <p>
      Continue washing your hands and having beers,<br/>
      Quarter Mile and O’bone’R
    </p>
  </div>
  <hr />
  <div>
      <h4 class="content-subhead">Join us on our next hash!</h4>
      <% if @next_hash != nil %>
      <h3><%= raw @next_hash.title%></h3>
      <h4>When:  <%=@next_hash.when.to_formatted_s(:long)%> (HST) </h4>
      <h4>Where: <a id="where" href="https://www.google.com/maps/dir/?api=1&origin=&destination=<%= raw @next_hash.where.sub! 'United States',''%>" target="_new"><%= raw @next_hash.where%></a></h4>
      <h4>Details:</h4><pre><%=auto_link(@next_hash.description,:html => { :target => '_blank' })%></pre>
      <% end %>
    </div>
</div>

<% if @next_hash != nil %>
<div class="full">
  <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?zoom=15&key=<%= raw @api_key %>&q=<%= raw @next_hash.where%>">
  </iframe>
</div>
<% end %>
<% content_for :footer do %>
<% end %>
