<div>
  <div>
    <h4>COVID-19 Update</h4>
    <p>TL;DR: All normal hashes (including Marathon weekend) are cancelled until April 12th, at which time we will consider starting back up</p>

<p>ATTENTION:</p>

<p>It is with a heavy heart and much consideration that we have decided to shut down the hash for a period of time. The GMs of the Boston, Ballbuster, Taco, Moon, and Eager 4 Beaver(yes they still exist). </p>

<p>This shut down will be today through April 12th at which point we will consider starting back up on a week to week basis. We hate to temporarily pull the plug on this group we love so much and dedicate our time to, but in light of world events, and with the decision from the governor to start shutting down bars and restaurants, we do not think it is responsible to continue to meet. We will be trying some new things out to help keep everyone connected, for example we already have a “virtual hash” on the calendar. </p>

<p>For those of you rebels out there who will insist on continuing with real trails or want to complain. Please don’t. Hashing will be there when we get through this awful period and in the mean time use the time at home to write or learn some songs! Feel free to use these pages to share them! We’re all going to need a good time at the end of this. </p>

<p>Until next time, stay healthy, stay positive!</p>

    <p>ON-ON, Chunderellie and Shart</p>
  </div>
  <hr />
  <div>
      <h4 class="content-subhead">Join us on our next hash!</h4>
      <% if @next_hash != nil %>
      <h3><%= raw @next_hash.title%></h3>
      <h4>When:  <%=@next_hash.when.to_formatted_s(:long)%> (HST) </h4>
      <h4>Where: <a id="where" href="https://www.google.com/maps/dir/?api=1&origin=&destination=<%= raw @next_hash.where.sub! 'United States',''%>" target="_new"><%= raw @next_hash.where%></a></h4>
      <h4>Details:</h4><pre><%=auto_link(@next_hash.description,:html => { :target => '_blank' })%></pre>
      <% end %>
    </div>
</div>

<% if @next_hash != nil %>
<div class="full">
  <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?zoom=15&key=<%= raw @api_key %>&q=<%= raw @next_hash.where%>">
  </iframe>
</div>
<% end %>
<% content_for :footer do %>
<% end %>
