<div>
  <div>
    <h4>COVID-19 Update (11/4/20)</h4>
    <p>TL:DR Winter is coming. So are virtual trails.</p>
    
    
    <p>
    We love in-person trails. We want to keep hashing in person as long as possible. Unfortunately, COVID cases both nationally and in Massachusetts are on the rise. We believe that this trend will only continue to worsen as we head into winter, so we wanted to let you know how we’re planning to adapt to tHeSe uNcERtAiN tImEs: <br/>
    In the interest of acting preventatively rather than reactively, it is likely that trails, as they occur now, will be put on hold in the near future. We fully expect to make a move toward virtual trails sooner than later. 
    </p>
    <p>
    Virtual trails will be upgraded! We’ve heard a lot about what worked, and we’re going to do everything we can to amplify those parts of the virtual hashing experience.
    Hashing is about community as much as it is about running, and we’re encouraging the use of the Boston H3 Zoom account for non-trail based activities. 
    </p>
    <p>
    We don’t have a date as to when we will make this change, but we do expect it to happen in the coming few weeks. In the meantime, the GMs and Misman at large are formulating a changeover plan that will include more of the details not included here. Until then, we ask that those attending in person trails continue to obey the guidelines set by Misman, the State, and the RAs on trail.
    </p>
    <p>
    If you have concerns please message us. 
    </p>
    <p>
    Wash your hands and have a beer,<br/>
    Quarter Mile and O’bone’R
    </p>
  </div>
  <hr />
  <div>
      <h4 class="content-subhead">Join us on our next hash!</h4>
      <% if @next_hash != nil %>
      <h3><%= raw @next_hash.title%></h3>
      <h4>When:  <%=@next_hash.when.to_formatted_s(:long)%> (HST) </h4>
      <h4>Where: <a id="where" href="https://www.google.com/maps/dir/?api=1&origin=&destination=<%= raw @next_hash.where.sub! 'United States',''%>" target="_new"><%= raw @next_hash.where%></a></h4>
      <h4>Details:</h4><pre><%=auto_link(@next_hash.description,:html => { :target => '_blank' })%></pre>
      <% end %>
    </div>
</div>

<% if @next_hash != nil %>
<div class="full">
  <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?zoom=15&key=<%= raw @api_key %>&q=<%= raw @next_hash.where%>">
  </iframe>
</div>
<% end %>
<% content_for :footer do %>
<% end %>
