<div>
  <div>
    <h3>COVID-19 Update (03/10/21)</h3>
    <p>Hi all!</p>

    <p>
      We wanted to let you know, on behalf of BH3 Misman, what our plans are for going from Virtual Hangouts to scaling 
      back up to pre-pandemic hashing.  Please note that the following is tentative and flexible by nature, but that we’re 
      nonetheless optimistic that it is feasible.
    </p>

    <p>
      Our current plan is, starting March 14th (this upcoming weekend), to move forward with Sunday Deadlay trails.  We will 
      send more information later along with the trail announcement, but you can expect BYOB trails laid by the afternoon in the 
      usual Boston area that you can go run in person.  As before, we ask you to please social distance and not run trail with anyone 
      not immediately in your household/pod.
    </p>

    <p>
      We plan to hold these deadlay trails for a few weeks while cases hopefully continue dropping, such that we expect to have our 
      first In-Person trail after Marathon (Patriot’s Day).  Again, we will send more information as that date approaches, but you can 
      expect these to look like the lottery trails we held previously in order to limit our group size.
    </p>

    <p>
      One other note, since we’ve been asked, regarding how vaccinations will fit into the lottery/plan-at-large: we understand that 
      some people may be vaccinated at this point, something that wasn’t true the last time.  Our policy throughout the pandemic has been 
      to avoid determining individual risk categories, nor do we feel comfortable collecting health information (beyond confirming those 
      on trail don’t have COVID symptoms).  It is for that reason that, in the beginning, our hardcap attendee limit will NOT account for 
      individual risk factors (including vaccination), beyond those factors imposed by travel restrictions and other state/federal laws.  
      While we fully expect that to change, we ask for your patience as vaccine distribution continues and the pandemic slowly comes to 
      an end.
    </p>

    <p>
      If you have any questions regarding this plan, please feel free to reach out to either of the GMs (O’Bone’R, Quarter Mile Queer) 
      or anyone else on BH3 Misman.  Again, we ask for your cooperation in beginning BH3’s re-return to in-person hashing!  We can’t wait 
      to see you soon!
    </p>

    <p>On on,</p>
    <p>QMQ, O’Bone’R</p>
  </div>
  <hr />
  <div>
      <h4 class="content-subhead">Join us on our next hash!</h4>
      <% if @next_hash != nil %>
      <h3><%= raw @next_hash.title%></h3>
      <h4>When:  <%=@next_hash.when.to_formatted_s(:long)%> (HST) </h4>
      <h4>Where: <a id="where" href="https://www.google.com/maps/dir/?api=1&origin=&destination=<%= raw @next_hash.where.sub! 'United States',''%>" target="_new"><%= raw @next_hash.where%></a></h4>
      <h4>Details:</h4><pre><%=auto_link(@next_hash.description,:html => { :target => '_blank' })%></pre>
      <% end %>
    </div>
</div>

<% if @next_hash != nil %>
<div class="full">
  <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?zoom=15&key=<%= raw @api_key %>&q=<%= raw @next_hash.where%>">
  </iframe>
</div>
<% end %>
<% content_for :footer do %>
<% end %>
