<div>
    <h4>Mismanagement</h4>
<p>The following unlucky wankers were democratically erected (like a deer in headlights) as Boston H3 Mismanagement. They are chosen mostly due to their lack of organizational skills, personal hygiene, and original excuses. Basically, these are the people that can you can blame for everything that goes wrong.</p>
<h5>Your 2014-2015 Mismanagement</h5>
<%= render 'partials/misman/current' %>
<ul>
  <li>
<%= render 'partials/misman/m1415' %>
  </li>
  <li>
<%= render 'partials/misman/m1314' %>
  </li>
	<li>
<%= render 'partials/misman/m1213' %>
	</li>
	<li>
<%= render 'partials/misman/m1112' %>
	</li>
	<li>
<%= render 'partials/misman/m1011' %>
	</li>
	<li>
<%= render 'partials/misman/m0910' %>	
	</li>
	<li>
<%= render 'partials/misman/m0809' %>	
	</li>
	<li>
<%= render 'partials/misman/m0708' %>	
	</li>
	<li>
<%= render 'partials/misman/gms' %>
	</li>
</ul>
</div>


