<!DOCTYPE html>
<html>
<head>
  <title>Boston Hash House Harriers ~ A Drinking Club With A Running Problem</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css"></link>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= yield :head %>
<meta name="viewport" content="width=device-width">
</head>
<body>
	<div class="pure-menu pure-menu-open top-menu pure-menu-horizontal">
        <ul class="top-menu-ul">
            <li class="<%= "pure-menu-selected" if params[:action] == "welcome" %>"><%= link_to "Home", root_url %></li>
            <li class="<%= "pure-menu-selected" if params[:controller] == "about" %>"><a href="/about">About the BH3</a></li>
            <li class="<%= "pure-menu-selected" if params[:action] == "calendar" %>"><a href="/calendar">Calendar</a></li>
            <li class="<%= "pure-menu-selected" if params[:action] == "events" %>"><a href="/static/events">Events</a></li>
			<li class="<%= "pure-menu-selected" if params[:action] == "posts" %>"><a href="/posts">Hash Trash</a></li>
            <li class="<%= "pure-menu-selected" if params[:action] == "more" %>"><a href="/more">More info</a></li>
        </ul>
    </div>
  <div class="content">
	    <div class="header">

	    </div>
	    
	    <%= yield :splash %>
	
		<div class="content">
		  <div class="pure-g-r"> 
		 		<%= yield %>
		  </div>
		</div>

	    <div class="footer">
	       Follow the Boston Hash House Harriers on <a href="https://twitter.com/bostonhash" target="_new">twitter</a>.
	    </div>
		<%= yield :footer %>
  </div>


</body>
</html>
